@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$wp: #32b938;
$face: #3b60da;
$insta: #dd3173;

@mixin redes($hover) {
  font-size: 30px;

  &:hover {
    color: $hover;
  }
}

body {
  background: linear-gradient(
    rgba(216, 234, 255, 0.473),
    rgba(153, 146, 255, 0.445)
  );
  background-size: 100vh;
  font-family: "Comfortaa", cursive;
}
.envios {
  width: 100%;
  height: 100%;
}
.work {
  @extend .envios;
}

/* NAV */
header {
  height: 80px;
  .nav_menu {
    visibility: hidden;
    display: inline-block;
    position: relative;
    left: 45%;
    margin: 5%;

    transform: translate(-50%, -50%);
    a {
      display: inline-block;
      color: #161616;
      text-decoration: none;
      font-size: 1.2em;
      text-transform: uppercase;
      font-weight: 650;
      width: 50;
      margin-inline: 2vh;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
    a:hover {
      color: #f0592c;
    }
    .bi.bi-bag {
      font-size: 30px;
    }
  }
}
/* FIN NAV */

/* NAV OCULTA */
.nav {
  .bag {
    margin-left: auto;
    margin-top: -130px;
    font-size: 25px;
  }
  .bag i:hover {
    color: #f0592c;
  }
  .nav a {
    text-decoration: none;
    color: #161616;
    opacity: 1;
    font-size: 18px;
    transition: 200ms;
  }
  .nav a:hover {
    color: #ffffff;
  }
  .nav ul {
    padding: 0;
    list-style-type: none;
  }
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 1;
    user-select: none;
    input {
      width: 40px;
      height: 40px;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
    }

    span {
      width: 32px;
      height: 3px;
      margin-bottom: 5px;
      background: #161616;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 5px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
    input:checked ~ ul {
      transform: none;
    }
  }
  #menu {
    position: absolute;
    width: 100vh;
    height: 100vh;
    margin: -80%;
    padding: 110px;
    background: linear-gradient(rgb(216, 234, 255), rgb(178, 172, 255));
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    li {
      list-style: none;
      font-weight: bold;
      text-align: center;
      width: 20%;
      margin-top: 20px;
      transition-delay: 0.2s;
    }
    a {
      text-align: center;
      font-size: 18px;
    }
  }
  /* ANIMACION NAV OCULTA*/
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
}
/* FIN NAV OCULTA */

/* ---------INDEx--------- */
/* CARRUSEL */
.carousel {
  margin-top: 5%;
  z-index: 0;
  .carousel-item {
    overflow: hidden;
  }
}
/* FIN CARRUSEL */

/* CARDS */
.opciones {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1px;
  .index_cards:hover {
    background-color: #ffffff6e;
  }
  .index_cards {
    padding: 5px;
    border-radius: 8px;
    .index_cards_link {
      border-radius: 8px;
      position: absolute;
      width: 26%;
      height: 4%;
    }
    .index_cards_img {
      width: 65px;
      height: 65px;
      img {
        margin-left: 12px;
        width: 65px;
        height: 65px;
      }
    }
    .index-cards_texto {
      text-align: center;
      font-size: 16px;
      color: #161616;
      .index-cards_titulo {
        font-size: 12px;
        margin-bottom: -1px;
        font-weight: bold;
      }
    }
  }
}
.info {
  margin-top: 100px;
  .indexinf {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.5fr 1fr 1fr 0.5fr;
    row-gap: 10px;
    .indexinf_texto {
      padding: 10px;
    }
    h2 {
      color: #f0592c;
      letter-spacing: 8px;
      text-align: center;
    }

    .indexinf_img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
/* ------------FIN INDEX------------- */

/*--------------CATALOGO------------ */
.container {
  padding: 10px;
  .btn-primary {
    z-index: 0;
  }
  a {
    text-decoration: none;
    color: #161616;
  }
  .hijo {
    .todo:hover {
      box-shadow: 5px 10px 15px#16161660;
    }
    .todo {
      display: flex;
      width: 100%;
      height: 120px;
      padding: 12px;
      margin-bottom: 15px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.082);
      .todo-1 {
        width: 180px;
        height: 95px;
        .titulo {
          font-size: 12px;
        }
        .info {
          margin-top: 5px;
          font-size: 10px;
        }
        .precio {
          margin-top: 25px;
          font-size: 16px;
        }
        .foto {
          margin-left: 195px;
          margin-top: -85px;
          width: 80px;
          height: 80px;
        }
        img {
          border-radius: 12px;
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}

/* PAGINACIÓN */
.paginacion {
  margin: 20px 0;
  ul {
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      margin-right: 10px;
      a {
        font-size: 12px;
        display: block;
        padding: 10px 20px;
        color: #161616;
        text-decoration: none;
      }
      a:hover {
        background: #fc9474;
        border-radius: 24px;
      }

      .active {
        background: #f0592c;
        font-weight: bold;
        border-radius: 16px;
      }
    }
  }
}

/*--------------CONTACTO------------*/
.contacto {
  form {
    margin-bottom: 50px;
  }
  .section-header {
    text-align: center;
    font: 60px;
  }
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  .form-control,
  textarea {
    background-color: rgb(255, 255, 255);
    color: #161616;
    letter-spacing: 1px;
  }
  .send-button {
    margin-top: 15px;
    height: 40px;
    width: 400px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #f0592c;
    border-color: #f0592c;
  }
  .send-button:hover {
    background-color: #f05a2c63;
    border-color: #f0592c;
  }

  .alt-send-button:hover {
    font-size: 25px;
    color: #161616;
  }
  .direct-contact-container {
    max-width: 400px;
  }
  .contact-list {
    list-style-type: none;
    margin-left: -80px;
  }
  .list-item {
    line-height: 4;
    color: #161616;
  }
  .contact-text {
    font: 18px;
    color: #161616;
  }
  a {
    color: #161616;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  a:hover {
    color: #f0592c;
    text-decoration: none;
  }
  .section-header {
    text-align: center;
    font: 60px;
    margin-top: 50px;
  }
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
  }
  .form-control,
  textarea {
    background-color: rgb(255, 255, 255);
    color: #161616;
    letter-spacing: 1px;
  }
  .send-button {
    margin-top: 15px;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
  }
  .direct-contact-container {
    width: 100%;
  }
  .section-header {
    text-align: center;
    font: 60px;
    margin-top: 50px;
  }
  .form-control,
  textarea {
    background-color: rgb(255, 255, 255);
    color: #161616;
    letter-spacing: 1px;
  }
  .send-button {
    margin-top: 15px;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
  }
  .direct-contact-container {
    width: 100%;
  }
}
.medios {
  margin-bottom: 20px;
  h3 {
    font-size: 16px;
    text-align: center;
  }
  .iconos {
    font-size: 30px;
    text-align: center;
  }
  .bi {
    padding: 20px;
    color: #161616;
  }
  .bi:hover {
    color: #ffff;
  }
}
.mapa {
  padding: 10px;
  iframe {
    border-radius: 8px;
    width: 100%;
    height: 250px;
  }
}
/* ---------FIN DE CONTACTO--------*/

/*--------------FOOTER------------ */
.footer-basic {
  padding: 40px;
  width: 100%;
  background-color: #ffffff;
  color: #161616;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.171);
  ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 0;
    li {
      padding: 0 15px;
      a {
        color: #161616;
        text-decoration: none;
      }
    }
  }

  .social {
    text-align: center;
    a {
      display: inline-block;
      text-decoration: none;
      color: #161616;
      opacity: 0.7;
      width: 40px;
      height: 40px;
      font-size: 16px;
      margin-bottom: 10px;
      .bi-whatsapp:hover {
        @include redes($wp);
      }
      .bi-facebook:hover {
        @include redes($face);
      }
      .bi-instagram:hover {
        @include redes($insta);
      }
    }
  }
  .copyright {
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    color: #161616;
    margin-bottom: -20px;
  }
}

/* -----------FIN FOOTER--------- */

@media screen and (min-width: 375px) {
  .nav {
    .bag {
      margin-top: -110px;
      font-size: 25px;
    }
  }
  .opciones {
    .index_cards {
      .index_cards_link {
      }
      .index_cards_img {
        img {
          margin-left: 17px;
        }
      }
    }
  }
  .footer-basic {
    .social {
      margin-top: -20px;
    }
    ul {
      font-size: 16px;
    }
    .social > a {
      font-size: 18px;
    }
  }
  .container {
    padding: 10px;
    .btn-primary {
      z-index: 0;
    }
    a {
      text-decoration: none;
      color: #161616;
    }
    .hijo {
      margin-top: 50px;
      .todo {
        .todo-1 {
          width: 200px;
          .titulo {
            font-size: 14px;
          }
          .info {
            font-size: 12px;
          }
          .precio {
            margin-top: 15px;
            font-size: 18px;
          }
          .foto {
            margin-left: 245px;
            margin-top: -95px;
            width: 90px;
            height: 90px;
          }
          img {
            border-radius: 12px;
            width: 90px;
            height: 90px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 425px) {
  .nav {
    .bag {
      margin-top: -115px;
      font-size: 30px;
    }
  }
  .opciones {
    .index_cards {
      .index_cards_link {
      }
      .index_cards_img {
        img {
          margin-left: 25px;
        }
      }
    }
  }
  .container {
    .hijo {
      .todo {
        .todo-1 {
          width: 250px;
          .titulo {
            font-size: 16px;
          }
          .precio {
            margin-top: 15px;
            font-size: 18px;
          }
          .foto {
            margin-left: 295px;
            margin-top: -100px;
            width: 90px;
            height: 90px;
          }
          img {
            border-radius: 12px;
            width: 90px;
            height: 90px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 600px) {
  .footer-basic {
    ul {
      font-size: 18px;
    }
    .social > a {
      font-size: 22px;
    }
    .copyright {
      font-size: 12px;
    }
  }
  .nav {
    visibility: hidden;
    .bag {
      margin-top: -150px;
    }
  }
  .info {
    margin-top: 100px;
    .indexinf {
      grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr 0.5fr;
    }
  }
  header {
    .nav_menu {
      visibility: visible;
      left: 45%;
      margin: 5%;
      margin-top: 50px;
      a {
        color: #161616;
        font-size: 18px;
        margin-inline: 0.8vh;
      }
    }
  }

  .container {
    .hijo {
      .todo {
        .todo-1 {
          width: 340px;
          .titulo {
            font-size: 18px;
          }
          .info {
            font-size: 12px;
          }
          .precio {
            margin-top: -5px;
            font-size: 20px;
          }
          .foto {
            margin-left: 395px;
            margin-top: -115px;
            width: 105px;
            height: 105px;
          }
          img {
            border-radius: 12px;
            width: 105px;
            height: 105px;
          }
        }
      }
    }
  }
  .medios {
    padding: 15px;
    h3 {
      font-size: 24px;
    }
    .iconos {
      font-size: 40px;
    }
    .bi {
      padding: 20px;
    }
  }

  .opciones {
    grid-template-rows: 150px;
    column-gap: 4px;
    .index_cards {
      .index_cards_img {
        width: 100px;
        height: 100px;
        img {
          margin-left: 30px;
          width: 100px;
          height: 100px;
        }
      }
      .index-cards_texto {
        .index-cards_titulo {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .opciones {
    .index_cards {
      .index_cards_img {
        img {
          margin-left: 60px;
        }
      }
      .index-cards_texto {
        .index-cards_titulo {
          font-size: 18px;
          margin-top: 10px;
        }
      }
    }
  }
  .info {
    .indexinf {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 0.2fr 1fr 1fr;
      grid-template-areas:
        "A A"
        "B C"
        "D E";
      gap: 5px;
      .A {
        width: 100%;
        grid-area: A;
      }
      .B {
        grid-area: B;
      }
      .C {
        grid-area: C;
      }
      .D {
        grid-area: D;
      }
      .E {
        grid-area: E;
      }
    }
  }
  .container {
    .btn-primary {
      z-index: 0;
    }
    a {
      text-decoration: none;
      color: #161616;
    }
    .hijo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 200px);
      column-gap: 20px;
      .todo {
        height: 180px;
        .todo-1 {
          width: 220px;
          height: 170px;
          .titulo {
            font-size: 18px;
          }
          .info {
            font-size: 14px;
            width: 190px;
          }
          .precio {
            margin-top: 35px;
            font-size: 25px;
          }
          .foto {
            margin-left: 220px;
            margin-top: -170px;
            border-radius: 8px;
            width: 100px;
            height: 160px;
            overflow: hidden;
          }
          img {
            width: 160px;
            height: 160px;
          }
        }
      }
    }
  }
  .paginacion {
    ul {
      li {
        a {
          font-size: 18px;
        }
      }
    }
  }
}
@media screen and (min-width: 992px) {
  header {
    .nav_menu {
      a {
        font-size: 20px;
        margin-inline: 1.8vh;
      }
    }
  }
  .container {
    .row {
      .base {
        .input-group {
          .form-control {
            font-size: 20px;
          }
        }
        .hijo {
          .todo {
            .todo-1 {
              .info {
                width: 200px;
              }
              .foto {
                margin-left: 280px;
                margin-top: -170px;
                width: 160px;
              }
            }
          }
        }
      }
    }
  }
  .info {
    .indexinf {
      .indexinf_texto {
        p {
          font-size: 20px;
        }
      }
    }
  }
  .opciones {
    .index_cards {
      height: 200px;
      .index_cards_link {
        height: 10%;
      }
      .index_cards_img {
        width: 150px;
        height: 150px;
        img {
          margin-left: 80px;
          width: 150px;
          height: 150px;
        }
      }
      .index-cards_texto {
        .index-cards_titulo {
          margin-left: 10px;
          font-size: 18px;
          margin-top: 0;
        }
      }
    }
  }
  .footer-basic {
    height: 200px;
    ul {
      font-size: 20px;
    }
    li {
      padding: 0 25px;
    }
    .social {
      padding-bottom: 15px;
    }
    .social > a {
      font-size: 25px;
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
    .copyright {
      margin-top: 50px;
      font-size: 14px;
    }
  }
}
@media screen and (min-width: 1200px) {
  header {
    .nav_menu {
      margin-top: 70px;
      a {
        font-size: 25px;
        margin-inline: 2.5vh;
      }
    }
  }
  .container {
    margin-top: 50px;
    .row {
      .base {
        .input-group {
          .form-control {
            font-size: 25px;
          }
          .input-group-btn {
            .btn-primary {
              height: 55px;
            }
          }
        }
        .hijo {
          .todo {
            .todo-1 {
              .titulo {
                font-size: 24px;
                width: 300px;
              }
              .info {
                width: 300px;
                font-size: 18px;
              }
              .foto {
                margin-left: 365px;
              }
              .precio {
                font-size: 30px;
                margin-top: 25px;
              }
            }
          }
        }
      }
    }
  }
  .opciones {
    height: 100%;
    margin-bottom: 100px;
    .index_cards {
      height: 250px;
      .index_cards_link {
        width: 30%;
        height: 25%;
      }
      .index_cards_img {
        width: 180px;
        height: 180px;
        img {
          margin-left: 95px;
          width: 180px;
          height: 180px;
        }
      }
      .index-cards_texto {
        .index-cards_titulo {
          margin-left: 10px;
          font-size: 25px;
        }
      }
    }
  }
  .info {
    .indexinf {
      .indexinf_texto {
        p {
          font-size: 24px;
        }
      }
    }
  }
}
