@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(131, 110, 253, 0.473)), to(rgba(255, 81, 0, 0.288)));
  background: linear-gradient(rgba(131, 110, 253, 0.473), rgba(255, 81, 0, 0.288));
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-size: 100vh;
  font-family: "Comfortaa", cursive;
}

.envios {
  width: 100%;
  height: 100%;
}

.work {
  width: 100%;
  height: 100%;
}

/* NAV */
header {
  height: 80px;
}

header .nav_menu {
  visibility: hidden;
  display: inline-block;
  position: relative;
  left: 45%;
  margin: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header a {
  display: inline-block;
  color: #161616;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 650;
  width: 50;
  margin-inline: 2vh;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header a:hover {
  color: #f0592c;
}

header .bi.bi-bag {
  font-size: 30px;
}

/* FIN NAV */
/* NAV OCULTA */
.nav {
  /* ANIMACION NAV OCULTA*/
}

.nav .bag {
  margin-left: auto;
  margin-top: -125px;
}

.nav .bag i:hover {
  color: #f0592c;
}

.nav .nav a {
  text-decoration: none;
  color: #161616;
  opacity: 1;
  font-size: 18px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.nav .nav a:hover {
  color: #ffffff;
}

.nav .nav ul {
  padding: 0;
  list-style-type: none;
}

.nav #menuToggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav #menuToggle input {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.nav #menuToggle span {
  width: 32px;
  height: 3px;
  margin-bottom: 5px;
  background: #161616;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 5px 0px;
          transform-origin: 5px 0px;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.nav #menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

.nav #menu {
  position: absolute;
  width: 100vh;
  height: 100vh;
  margin-left: -25px;
  margin-top: -35px;
  padding-top: 150px;
  background-color: #ff8555;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.nav #menu li {
  list-style: none;
  font-weight: bold;
  margin-left: 70px;
  margin-top: 15px;
  width: 5%;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav #menu a {
  font-size: 16px;
}

.nav #menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.nav #menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.nav #menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-3px, -1px);
          transform: rotate(45deg) translate(-3px, -1px);
}

.nav #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.nav #menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

/* FIN NAV OCULTA */
/* ---------INDEx--------- */
/* CARRUSEL */
.carousel {
  margin-top: 5%;
  z-index: 0;
}

.carousel .carousel-item {
  overflow: hidden;
}

/* FIN CARRUSEL */
/* CARDS */
.cards {
  margin: 20%;
  margin-top: 5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50% 50%;
      grid-template-columns: 50% 50% 50%;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

.cards .news-card {
  position: relative;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
}

.cards .news-card .news-card:hover {
  -webkit-box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.171);
          box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.171);
}

.cards .news-card .news-card_link {
  position: absolute;
  width: 100%;
  height: 100%;
}

.cards .news-card .news-card_image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: -1;
}

.cards .news-card .news-card_text {
  position: absolute;
  bottom: 0;
  padding: 2px;
  color: white;
}

.cards .news-card .news-card_title {
  font-size: 12px;
  margin-bottom: -1px;
}

.cards .news-card .news-card_date {
  padding: 10px;
  font-size: 8px;
  margin-left: -8px;
  margin-bottom: -10px;
  color: #ffff;
}

.cards .news-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(192, 56, 56, 0) -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.7)));
  background: rgba(192, 56, 56, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
}

/* ------------FIN INDEX------------- */
/*--------------CATALOGO------------ */
.container {
  padding: 10px;
}

.container .btn-primary {
  z-index: 0;
}

.container a {
  text-decoration: none;
  color: #161616;
}

.container .hijo .todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  padding: 12px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.082);
          box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.082);
}

.container .hijo .todo .todo-1 {
  width: 200px;
  height: 95px;
}

.container .hijo .todo .todo-1 .titulo {
  font-size: 12px;
}

.container .hijo .todo .todo-1 .info {
  margin-top: 5px;
  font-size: 10px;
}

.container .hijo .todo .todo-1 .precio {
  margin-top: 25px;
  font-size: 16px;
}

.container .hijo .todo .todo-1 .foto {
  margin-left: 195px;
  margin-top: -85px;
  width: 80px;
  height: 80px;
}

.container .hijo .todo .todo-1 img {
  border-radius: 12px;
  width: 80px;
  height: 80px;
}

/* PAGINACIÓN */
.paginacion {
  margin: 20px 0;
}

.paginacion ul {
  list-style: none;
  text-align: center;
}

.paginacion ul li {
  display: inline-block;
  margin-right: 10px;
}

.paginacion ul li a {
  font-size: 12px;
  display: block;
  padding: 10px 20px;
  color: #161616;
  text-decoration: none;
}

.paginacion ul li a:hover {
  background: #fc9474;
  border-radius: 24px;
}

.paginacion ul li .active {
  background: #f0592c;
  font-weight: bold;
  border-radius: 16px;
}

/*--------------CONTACTO------------*/
.contacto form {
  margin-bottom: 50px;
}

.contacto .section-header {
  text-align: center;
  font: 60px;
}

.contacto .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

.contacto .form-control,
.contacto textarea {
  background-color: white;
  color: #161616;
  letter-spacing: 1px;
}

.contacto .send-button {
  margin-top: 15px;
  height: 40px;
  width: 400px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #f0592c;
  border-color: #f0592c;
}

.contacto .send-button:hover {
  background-color: #f05a2c63;
  border-color: #f0592c;
}

.contacto .alt-send-button:hover {
  font-size: 25px;
  color: #161616;
}

.contacto .direct-contact-container {
  max-width: 400px;
}

.contacto .contact-list {
  list-style-type: none;
  margin-left: -80px;
}

.contacto .list-item {
  line-height: 4;
  color: #161616;
}

.contacto .contact-text {
  font: 18px;
  color: #161616;
}

.contacto a {
  color: #161616;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.contacto a:hover {
  color: #f0592c;
  text-decoration: none;
}

.contacto .section-header {
  text-align: center;
  font: 60px;
  margin-top: 50px;
}

.contacto .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.contacto .form-control,
.contacto textarea {
  background-color: white;
  color: #161616;
  letter-spacing: 1px;
}

.contacto .send-button {
  margin-top: 15px;
  height: 50px;
  width: 100%;
  border-radius: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contacto .direct-contact-container {
  width: 100%;
}

.contacto .section-header {
  text-align: center;
  font: 60px;
  margin-top: 50px;
}

.contacto .form-control,
.contacto textarea {
  background-color: white;
  color: #161616;
  letter-spacing: 1px;
}

.contacto .send-button {
  margin-top: 15px;
  height: 50px;
  width: 100%;
  border-radius: 15px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contacto .direct-contact-container {
  width: 100%;
}

.medios {
  margin-bottom: 20px;
}

.medios h3 {
  font-size: 16px;
  text-align: center;
}

.medios .iconos {
  font-size: 30px;
  text-align: center;
}

.medios .bi {
  padding: 20px;
  color: #161616;
}

.medios .bi:hover {
  color: #ffff;
}

.mapa {
  padding: 10px;
}

.mapa iframe {
  border-radius: 8px;
  width: 100%;
  height: 250px;
}

/* ---------FIN DE CONTACTO--------*/
/*--------------FOOTER------------ */
.footer-basic {
  padding: 40px;
  width: 100%;
  background-color: #ffffff;
  color: #161616;
  -webkit-box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.171);
          box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.171);
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 15px;
}

.footer-basic a {
  color: #161616;
  text-decoration: none;
  opacity: 0.7;
}

.footer-basic a:hover {
  color: #f0592c;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 10px;
  margin-top: -15px;
}

.footer-basic .social > a {
  display: inline-block;
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #999999;
  margin: 0 8px;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 1.2;
}

.footer-basic .copyright {
  text-align: center;
  margin-top: 10px;
  font-size: 10px;
  color: #161616;
  margin-bottom: -20px;
}

/* -----------FIN FOOTER--------- */
@media screen and (min-width: 360px) {
  .bag a {
    margin-top: -15px;
  }
  .footer-basic .social {
    margin-top: -20px;
  }
  .footer-basic ul {
    font-size: 16px;
  }
  .footer-basic .social > a {
    font-size: 18px;
  }
  .container {
    padding: 10px;
  }
  .container .btn-primary {
    z-index: 0;
  }
  .container a {
    text-decoration: none;
    color: #161616;
  }
  .container .hijo {
    margin-top: 50px;
  }
  .container .hijo .todo .todo-1 .titulo {
    font-size: 14px;
  }
  .container .hijo .todo .todo-1 .info {
    font-size: 12px;
  }
  .container .hijo .todo .todo-1 .precio {
    margin-top: 20px;
    font-size: 18px;
  }
  .container .hijo .todo .todo-1 .foto {
    margin-left: 230px;
    margin-top: -100px;
    width: 90px;
    height: 90px;
  }
  .container .hijo .todo .todo-1 img {
    border-radius: 12px;
    width: 90px;
    height: 90px;
  }
}

@media screen and (min-width: 600px) {
  .bag a {
    margin-top: 0px;
  }
  .footer-basic ul {
    font-size: 18px;
  }
  .footer-basic .social > a {
    font-size: 22px;
  }
  .footer-basic .copyright {
    font-size: 12px;
  }
  .cards .news-card {
    height: 200px;
  }
  .cards .news-card .news-card_title {
    font-size: 18px;
  }
  .cards .news-card .news-card_date {
    font-size: 12px;
  }
  .nav {
    visibility: hidden;
  }
  header .nav_menu {
    visibility: visible;
    left: 45%;
    margin: 5%;
    margin-top: 50px;
  }
  header .nav_menu a {
    color: #161616;
    font-size: 18px;
    margin-inline: 0.8vh;
  }
  .container .hijo .todo .todo-1 {
    width: 340px;
  }
  .container .hijo .todo .todo-1 .titulo {
    font-size: 18px;
  }
  .container .hijo .todo .todo-1 .info {
    font-size: 12px;
  }
  .container .hijo .todo .todo-1 .precio {
    margin-top: -5px;
    font-size: 20px;
  }
  .container .hijo .todo .todo-1 .foto {
    margin-left: 395px;
    margin-top: -115px;
    width: 105px;
    height: 105px;
  }
  .container .hijo .todo .todo-1 img {
    border-radius: 12px;
    width: 105px;
    height: 105px;
  }
  .medios {
    padding: 15px;
  }
  .medios h3 {
    font-size: 24px;
  }
  .medios .iconos {
    font-size: 40px;
  }
  .medios .bi {
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {
  .cards .news-card .news-card_title {
    font-size: 24px;
  }
  .container .btn-primary {
    z-index: 0;
  }
  .container a {
    text-decoration: none;
    color: #161616;
  }
  .container .hijo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (200px)[4];
        grid-template-rows: repeat(4, 200px);
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .container .hijo .todo {
    height: 180px;
  }
  .container .hijo .todo .todo-1 {
    width: 220px;
    height: 170px;
  }
  .container .hijo .todo .todo-1 .titulo {
    font-size: 18px;
  }
  .container .hijo .todo .todo-1 .info {
    font-size: 14px;
    width: 190px;
  }
  .container .hijo .todo .todo-1 .precio {
    margin-top: 35px;
    font-size: 25px;
  }
  .container .hijo .todo .todo-1 .foto {
    margin-left: 220px;
    margin-top: -170px;
    border-radius: 8px;
    width: 100px;
    height: 160px;
    overflow: hidden;
  }
  .container .hijo .todo .todo-1 img {
    width: 160px;
    height: 160px;
  }
  .paginacion ul li a {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  header .nav_menu a {
    font-size: 20px;
    margin-inline: 1.8vh;
  }
  .container .row .base .input-group .form-control {
    font-size: 20px;
  }
  .container .row .base .hijo .todo .todo-1 .info {
    width: 200px;
  }
  .container .row .base .hijo .todo .todo-1 .foto {
    margin-left: 280px;
    margin-top: -170px;
    width: 160px;
  }
  .footer-basic {
    height: 200px;
  }
  .footer-basic ul {
    font-size: 24px;
  }
  .footer-basic li {
    padding: 0 25px;
  }
  .footer-basic .social {
    padding-bottom: 20px;
  }
  .footer-basic .social > a {
    font-size: 35px;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .footer-basic .copyright {
    margin-top: 20px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  header .nav_menu {
    margin-top: 70px;
  }
  header .nav_menu a {
    font-size: 25px;
    margin-inline: 2.5vh;
  }
  .container {
    margin-top: 50px;
  }
  .container .row .base .input-group .form-control {
    font-size: 25px;
  }
  .container .row .base .input-group .input-group-btn .btn-primary {
    height: 55px;
  }
  .container .row .base .hijo .todo .todo-1 .titulo {
    font-size: 24px;
    width: 300px;
  }
  .container .row .base .hijo .todo .todo-1 .info {
    width: 300px;
    font-size: 18px;
  }
  .container .row .base .hijo .todo .todo-1 .foto {
    margin-left: 365px;
  }
  .container .row .base .hijo .todo .todo-1 .precio {
    font-size: 30px;
    margin-top: 25px;
  }
}
/*# sourceMappingURL=estilo.css.map */