@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    rgba(221, 215, 255, 0.473),
    rgba(255, 81, 0, 0.288)
  );
  backdrop-filter: blur(20px);
  background-size: 100vh;
  font-family: "Comfortaa", cursive;
}

/* NAV */
header {
  height: 80px;
}
header .nav_menu {
  display: inline-block;
  position: relative;
  left: 45%;
  margin: 5%;
  transform: translate(-50%, -50%);
}
.nav_menu a {
  display: inline-block;
  color: #161616;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 650;
  width: 50;
  margin-inline: 2vh;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav_menu a:hover {
  color: #f0592c;
}
.bi.bi-bag {
  font-size: 30px;
}
/* FIN NAV */

/* NAV OCULTA */
.bag {
  margin-left: auto;
  margin-top: -130px;
}
.bag i:hover {
  color: #f0592c;
}
.oculto {
  visibility: hidden;
  margin-top: 10px;
}
.nav a {
  text-decoration: none;
  color: #161616;
  opacity: 1;
  font-size: 18px;
  transition: 200ms;
}
.nav a:hover {
  color: #ffffff;
}
.nav ul {
  padding: 0;
  list-style-type: none;
}
#menuToggle {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 1;
  user-select: none;
}

#menuToggle input {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  width: 32px;
  height: 3px;
  margin-bottom: 5px;
  background: #161616;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

/* ANIMACION NAV OCULTA*/
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
/* FIN ANIMACION NAV OCULTA*/

#menu {
  position: absolute;
  width: 100vh;
  height: 100vh;
  margin-left: -25px;
  margin-top: -35px;
  padding-left: 120px;
  padding-top: 150px;
  background-color: #ff8555;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  font-weight: bold;
  text-align: center;
  margin-left: -10px;
  width: 100px;
  transition-delay: 0.5s;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
/* FIN NAV OCULTA */

/* ------------------INDEX----------------- */
/* CARRUSEL */
.carousel-item {
  overflow: hidden;
}
.carousel {
  margin-top: 5%;
  z-index: 0;
}
/* FIN CARRUSEL */

/* CARDS */
.cards {
  margin: 20%;
  margin-top: 5em;
  justify-content: center;
  display: grid;
  grid-template-columns: 50% 50% 50%;
  column-gap: 5%;
}
.news-card {
  margin: 0.5rem;
  position: relative;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.5rem;
  min-width: 50px;
  transition: boxshadow 0.5s;
}
.news-card:hover {
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.171);
}
.news-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(192, 56, 56, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
}
.news-card_link {
  position: absolute;
  width: 100%;
  height: 100%;
}
.news-card_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
}
.news-card_text {
  position: absolute;
  bottom: 0;
  padding: 0.7rem;
  color: white;
  transition: background-color 1.5s ease;
}
.news-card_title {
  transition: color 1s ease;
  margin-bottom: 0.5rem;
}
.news-card_date {
  padding: 0.5rem;
  font-size: 0.7rem;
  margin-bottom: -10px;
  color: #ccc;
}
/* ---------------------FIN INDEX------------------- */

/*----------------------CATALOGO------------------- */
.grid {
  position: relative;
  width: 100%;
  background: rgba(255, 255, 255, 0.116);
  border-radius: 2px;
  margin-bottom: 25px;
  margin-top: 50px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
.grid .grid-body {
  padding: 15px 20px 15px 20px;
  font-size: 0.9em;
  line-height: 1.9em;
}
.text-right {
  margin-left: 50%;
}
.btn-group {
  margin-left: 105px;
}
.valor {
  margin-top: 55px;
  background-color: #42424200;
}
.col-sm-6 {
  width: 160px;
}
.input-group {
  margin-bottom: 25px;
}
.btn {
  margin-bottom: 5px;
}
.btn-primary {
  width: 80px;
}
.form-control {
  height: 38px;
}
.search table tr:hover {
  cursor: pointer;
}
.search table tr td img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
}
.search table tr td.price {
  font-size: 1.5em;
  line-height: 50px;
}
td .left {
  width: 100px;
  height: 166px;
}
button.cart {
  width: 100px;
  height: 166px;
  border-radius: 8px;
  border-color: #16161600;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.158);
}
.cart {
  width: 100px;
  text-align: center;
}
.cart:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.493);
}
.bi.bi-cart2 {
  font-size: 40px;
  color: #424242;
}
.bi.bi-cart2:hover {
  font-size: 60px;
  color: #42ad3e;
}
/* PAGINACIÓN */
.paginacion {
  margin: 20px 0;
}
.paginacion ul {
  list-style: none;
  text-align: center;
}
.paginacion ul li {
  display: inline-block;
  margin-right: 10px;
}
.paginacion ul li a {
  display: block;
  padding: 10px 20px;
  color: #161616;
  background: #02495900;
  text-decoration: none;
}
.paginacion ul li a:hover {
  background: #fc9474;
  border-radius: 24px;
}

.paginacion ul li .active {
  background: #f0592c;
  font-weight: bold;
  border-radius: 16px;
}

/*----------------------CONTACTO-------------------*/
.section-header {
  text-align: center;
  font: 60px;
}
.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}
.form-control,
textarea {
  background-color: rgb(255, 255, 255);
  color: #161616;
  letter-spacing: 1px;
}
.send-button {
  margin-top: 15px;
  height: 40px;
  width: 400px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #f0592c;
  border-color: #f0592c;
}
.send-button:hover {
  background-color: #f05a2c63;
  border-color: #f0592c;
}

.alt-send-button:hover {
  font-size: 25px;
  color: #161616;
}
.direct-contact-container {
  max-width: 400px;
}
.contact-list {
  list-style-type: none;
  margin-left: -80px;
}
.list-item {
  line-height: 4;
  color: #161616;
}
.contact-text {
  font: 18px;
  color: #161616;
}
.contact-text a {
  color: #161616;
  text-decoration: none;
  transition-duration: 0.2s;
}
.contact-text a:hover {
  color: #f0592c;
  text-decoration: none;
}
.section-header {
  text-align: center;
  font: 60px;
  margin-top: 50px;
}
.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}
.form-control,
textarea {
  background-color: rgb(255, 255, 255);
  color: #161616;
  letter-spacing: 1px;
}
.send-button {
  margin-top: 15px;
  height: 50px;
  width: 100%;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
.direct-contact-container {
  width: 100%;
}
.section-header {
  text-align: center;
  font: 60px;
  margin-top: 50px;
}
.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 400px;
}
.form-control,
textarea {
  background-color: rgb(255, 255, 255);
  color: #161616;
  letter-spacing: 1px;
}
.send-button {
  margin-top: 15px;
  height: 50px;
  width: 100%;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}
.direct-contact-container {
  width: 100%;
}
h3 {
  text-align: center;
}
.iconos {
  text-align: center;
  height: 150px;
}
.medioi {
  font-size: 80px;
  color: #161616;
  margin-right: 150px;
}
.mediow {
  font-size: 80px;
  color: #161616;
}
/* ---------------------FIN DE CONTACTO----------------*/

/*----------------------FOOTER------------------- */
.footer-basic {
  padding: 40px;
  width: 100%;
  background-color: #ffffff;
  color: #1c1c1c;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.171);
}
.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}
.footer-basic li {
  padding: 0 15px;
}
.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
}
.footer-basic ul a:hover {
  color: #f0592c;
}
.footer-basic .social {
  text-align: center;
  padding-bottom: 20px;
}
.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}
.footer-basic .social > a:hover {
  opacity: 1.2;
}
.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #191919;
  margin-bottom: 0;
}
/* ------------------FIN FOOTER------------------ */

@media screen and (min-width: 320px) {
  .nav_menu {
    visibility: hidden;
  }
  .oculto {
    visibility: visible;
  }
  .input-group {
    z-index: 0;
  }
  .col-md-12 .base {
    margin-top: -50px;
  }
  div .col-md-9 {
    font-size: 12px;
  }
  .product {
    padding: 0 !important;
  }
  .text-right {
    visibility: collapse;
  }
  .date {
    width: 180px;
  }
  .left {
    visibility: collapse;
  }
  .table-responsive {
    overflow-x: hidden;
  }
  iframe {
    width: 100%;
    padding: 10px;
  }
  .footer-basic {
    padding: 10px;
  }
  li {
    font-size: 12px;
  }
  .copyright {
    font-size: 8px !important;
  }
  #menu li {
    padding: 10px;
  }
  .iconos {
    height: 90px;
  }
  .medioi {
    font-size: 50px;
    margin-right: 90px;
  }
  .mediow {
    font-size: 50px;
  }
}

@media screen and (min-width: 400px) {
  .bag {
    margin-top: -110px;
  }
}

@media screen and (min-width: 768px) {
  .nav_menu {
    visibility: visible;
  }
  .oculto {
    visibility: hidden;
  }
  .left {
    visibility: visible;
  }
  .valor {
    visibility: visible;
    margin-left: 25px;
  }
  .col-md-9 {
    width: 100%;
  }
  #menu {
    height: 1200px;
    width: 770;
  }
  #menu li {
    margin-left: 190px;
    margin-top: 30px;
  }
  #menu li a {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .carousel {
    max-height: 550px;
  }
  .d-block {
    max-height: 550px;
  }
  .product {
    width: 400px;
    font-size: 18px;
  }
  .footer-basic {
    padding: 10px;
  }
  .valor {
    font-size: 25px;
  }
  .search table tr td img {
    width: 200px;
    height: 200px;
  }
  li {
    font-size: 20px;
  }
  .copyright {
    font-size: 12px !important;
  }
  #menu li {
    padding: 10px;
  }
}
